<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="paperListApp">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="index.css" rel="stylesheet" />
  <title></title>
</head>
<body ng-controller="PaperListCtrl">
  <div class="jumbotron">
    <div class="container">
      <h1>Paperlist</h1>
      <p>
        This page contains a list of CHI, Vis (InfoVis, SciVis, VAST), and ETRA papers. Maintained by <a href="http://hcil.snu.ac.kr/people/jaemin-jo" target="_blank">Jaemin Jo</a>.
      </p>
      <p>
        Showing <strong>{{ groups | selectedPaperCount | number }}</strong> papers from <strong>{{ groups | selectedConferenceCount | number }}</strong> conferences.
      </p>
      <div class="row">
        <div class="col-md-1" ng-repeat="group in groups">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-checked="group[1].length == (group[1] | selected).length" ng-click="selectAll(group[1])"> <h6>{{ group[0] }}</h6>
            </label>
          </div>

          <div class="checkbox" ng-repeat="conference in group[1]">
            <label>
              <input type="checkbox" ng-model="conference.selected"> {{ conference.year }}
            </label>
          </div>
        </div>
      </div>
   </div>
  </div>
  <div id="paperList" class="container">
    <div ng-repeat="group in groups">
      <ul ng-repeat="conference in group[1] | selected">
        <li ng-repeat="paper in conference.papers">
          <h4>{{ paper.title }} <small><span class="label label-primary">{{ conference.name}} {{ conference.year }}</span> {{ paper.session }}</small></h4>
          <p>{{ paper.abstract }}</p>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
