<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="paperListApp">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="index.css" rel="stylesheet" />
  <title></title>
</head>
<body ng-controller="PaperListCtrl">
  <div class="jumbotron">
    <div class="container">
      <h1>Paperlist</h1>
      <p>
        This page contains a list of CHI, Vis (InfoVis, SciVis, VAST), and ETRA papers. 
      </p>
      <p>
        <strong>{{ app.confCount }}</strong> conferences and <strong>{{ app.count | number}}</strong>  papers.
        Maintained by <a href="http://www.jaeminjo.com" target="_blank">Jaemin Jo</a>.
      </p>
    </div>
  </div>
  <div id="paperList" class="container">
    <div ng-repeat="conf in app.confList">
      <ul>
        <li ng-repeat="paper in conf.papers">
          <h4>{{ paper.title }} <small><span class="label label-primary">{{ conf.name}}</span> {{ paper.session }}</small></h4>
          <p>{{ paper.abstract }}</p>
        </li>
      </ul>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
